Alumno: Andr√©s Moreano Vargas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ene=["Enero",30500,22000]
feb=["Febrero",35600,23450]
mar=["Marzo",28300,18100]
abr=["Abril",33900,35700]
may=["Mayo",42500,32450]

In [ ]:
lista_vent=[ene,feb,mar,abr,may]
df_vent=pd.DataFrame(lista_vent,columns=["Mes","Ventas","Gastos"])
df_vent

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23450
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450

In [ ]:
df_vent["Gasto/Ventas * 100"] = (df_vent["Gastos"]/ df_vent["Ventas"])*100
df_vent

       Mes  Ventas  Gastos  Gasto/Ventas * 100
0    Enero   30500   22000           72.131148
1  Febrero   35600   23450           65.870787
2    Marzo   28300   18100           63.957597
3    Abril   33900   35700          105.309735
4     Mayo   42500   32450           76.352941

In [ ]:
df_vent["Metas"]=(df_vent["Ventas"]>=30000)
df_vent

       Mes  Ventas  Gastos  Gasto/Ventas * 100  Metas
0    Enero   30500   22000           72.131148   True
1  Febrero   35600   23450           65.870787   True
2    Marzo   28300   18100           63.957597  False
3    Abril   33900   35700          105.309735   True
4     Mayo   42500   32450           76.352941   True

In [ ]:
df_vent["Sobre Gasto"]=df_vent["Gastos"]-df_vent["Ventas"]
df_vent

       Mes  Ventas  Gastos  Gasto/Ventas * 100  Metas  Sobre Gasto
0    Enero   30500   22000           72.131148   True        -8500
1  Febrero   35600   23450           65.870787   True       -12150
2    Marzo   28300   18100           63.957597  False       -10200
3    Abril   33900   35700          105.309735   True         1800
4     Mayo   42500   32450           76.352941   True       -10050

In [ ]:
df1=df_vent.tail(3)
df1

     Mes  Ventas  Gastos  Gasto/Ventas * 100  Metas  Sobre Gasto
2  Marzo   28300   18100           63.957597  False       -10200
3  Abril   33900   35700          105.309735   True         1800
4   Mayo   42500   32450           76.352941   True       -10050

In [ ]:
Total = df_vent["Ventas"].sum()
print ("Gastos:",Total)


#df2=df_vent["Gastos"].sum()
#df2

Gastos: 170800