Alumno: Andrés Avelino Moreano Vargas

In [ ]:
import pandas as pd

Se crea los datos de la DataFrame

In [ ]:
fch=["01-03-2022","zapato",2,80]
nom=["02-03-2022","camisa",3,20]
prd=["04-03-2022","pantalón",4,30]
cnt=["06-03-2022","blusa",1,28]
fld=["07-03-2022","falda",2,40]
ctr=["09-03-2022","cartera",1,120]

Se crea una lista con las variables

In [ ]:
lista_pro=[fch,nom,prd,cnt,fld,ctr]

Se crea una lista con los encabezados del DataFrame

In [ ]:
df_prod=pd.DataFrame(lista_pro,columns=["Fecha","Nombre","Cantidad","Precio"])

Se ejecuta el código

In [ ]:
df_prod

        Fecha    Nombre  Cantidad  Precio
0  01-03-2022    zapato         2      80
1  02-03-2022    camisa         3      20
2  04-03-2022  pantalón         4      30
3  06-03-2022     blusa         1      28
4  07-03-2022     falda         2      40
5  09-03-2022   cartera         1     120

Se haya el Total de venta multiplicando la Cantidad por el Precio

In [ ]:
df_prod['Total'] = df_prod['Cantidad'] * df_prod['Precio']

In [ ]:
df_prod

        Fecha    Nombre  Cantidad  Precio  Total
0  01-03-2022    zapato         2      80    160
1  02-03-2022    camisa         3      20     60
2  04-03-2022  pantalón         4      30    120
3  06-03-2022     blusa         1      28     28
4  07-03-2022     falda         2      40     80
5  09-03-2022   cartera         1     120    120

Se muestra la venta de los últimos días tambien se puede codificar con df_prod.tail()

In [ ]:
df_prod.tail(5)

        Fecha    Nombre  Cantidad  Precio  Total  Descuento 5%  Tota Final
1  02-03-2022    camisa         3      20     60           3.0        57.0
2  04-03-2022  pantalón         4      30    120           6.0       114.0
3  06-03-2022     blusa         1      28     28           1.4        26.6
4  07-03-2022     falda         2      40     80           4.0        76.0
5  09-03-2022   cartera         1     120    120           6.0       114.0

Se obtiene el 5% de los Totales

In [ ]:
df_prod["Descuento 5%"]=df_prod["Total"]*0.05

In [ ]:
df_prod

        Fecha    Nombre  Cantidad  Precio  Total  Descuento 5%
0  01-03-2022    zapato         2      80    160           8.0
1  02-03-2022    camisa         3      20     60           3.0
2  04-03-2022  pantalón         4      30    120           6.0
3  06-03-2022     blusa         1      28     28           1.4
4  07-03-2022     falda         2      40     80           4.0
5  09-03-2022   cartera         1     120    120           6.0

Y se descuenta el 5% del Total resultando un Total Final

In [ ]:
df_prod["Tota Final"]=df_prod["Total"]-df_prod["Descuento 5%"]
df_prod

        Fecha    Nombre  Cantidad  Precio  Total  Descuento 5%  Tota Final
0  01-03-2022    zapato         2      80    160           8.0       152.0
1  02-03-2022    camisa         3      20     60           3.0        57.0
2  04-03-2022  pantalón         4      30    120           6.0       114.0
3  06-03-2022     blusa         1      28     28           1.4        26.6
4  07-03-2022     falda         2      40     80           4.0        76.0
5  09-03-2022   cartera         1     120    120           6.0       114.0